<main>
    <app-header name="MeInclui" content="Busca de estabelecimentos acessíveis" />
    
    <div>
        <app-galeria [images]=images/>
    </div>
    <div class="content">
        <p>O MeInclui foi um projeto idealizado e realizado durante o periodo do curso, visando desmonstrar competência e habilídades dos integrantes.</p>
        <p>È uma plataforma projetada para ajudar os usuários a encontrar estabelecimentos acessíveis em sua cidade de forma rápida e eficiente. Com o MeInclui, você pode filtrar e buscar por locais que atendam às suas necessidades de acessibilidade, enquanto também considera a experiência de outros usuários.</p>
        <p>Tecnologias usadas: Java11, JSP, JPA, MySql, Git/Github, Figma, Trello, Teams.</p>
    </div>
    
    <app-footer/>
</main>