<main>
    <app-header name="AgendeJa" content="Facilitando seus agendamentos!" />
    <div class="container">
        <div class="img">
            <app-galeria [images]=images/>
        </div>
        <div class="content">
            <p>O AgendeJa foi idealizado para simplificar e substituir agendamentos por meio de whatsapp, simplificando ambos os lados.</p>
            <p>Um sistema inovador que simplifica o agendamento de serviços, conectando usuários a prestadores de forma prática e eficiente. Com o AgendeJa, você pode reservar compromissos com base nos dias e horários disponíveis dos prestadores, garantindo conveniência e flexibilidade para todos.</p>
            <p>Tecnologias usadas: Angular17, NodeJs, JS/TS, MySql, Git/Github, Figma, Trello, Teams.</p>
        </div>
    </div>
</main>
<app-footer/>
