<main>
    <app-header name="Pokedex" content="Facilitando seus agendamentos!" />
    <div class="container">
        <div class="img">
            <img src="../../../assets/img/pokedex/aa.png" alt="Foto do Projeto">
        </div>
        <div class="content">
            <p>A Pokedex foi idealizada para proporcionar uma maneira prática e rápida de pesquisar Pokémon, conectando treinadores ao universo Pokémon de forma simples e eficiente.</p> 
            <p>Um sistema intuitivo que permite aos usuários buscar Pokémon pelo número ou nome, fornecendo informações essenciais de forma direta e organizada.</p> 
            <p>Tecnologias usadas: Angular17, NodeJs, JS/TS, MySql, Git/Github, Figma, Trello, Teams.</p>
        </div>
    </div>
</main>
<app-footer/>
