<main>
    <div class="info">
        <div>
            <div class="up-inf">
                <img src="../../../assets/img/Foto perfil.jpg">
                <h3>Pedro H Paiter</h3>
            </div>
        <div class="bottom-inf">
            <p class="bigger">Programador Jr</p>
            <p>Estudante de programação a procura de experiencia e aprendizado.</p>
            <div class="btns">
                <app-default-btn title="Linkedin"/>
                <app-default-btn title="Email"/>
                <app-default-btn title="Contato"/>                </div>
            </div>     
        </div>
        <div class="form">
            <p>Formações</p>
            <div class="boxs">
                <app-text-box title="Entra21" year="2023-2024" content="Turma de Angular com duração de 8 meses. No meu grupo de projetos, atuei como líder e fui responsável pela construção das telas."/>
                <app-text-box title="Jovem Programador" year="2023" content="Turma de Java com duração de 9 meses. No meu grupo, fiquei responsável por auxiliar os demais tanto no front-end quanto no back-end."/>
                <app-text-box title="SESC" year="2018-2023" content="Durante este curso abrangente de inglês avançado, aprimorei minhas habilidades linguísticas em todas as áreas fundamentais, incluindo conversação, compreensão auditiva, leitura e redação. "/>
            </div>
            <app-default-btn title="Baixar currículo"/>
        </div>
    </div>
    <div class="side">
        <app-painel root="../../../assets/img/meinclui/HOME 2.0.png"/>
        <app-painel root="../../../assets/img/agendeja/Home.png"/>
        <app-painel root="../../../assets/img/pokedex/aa.png"/>
    </div>

</main>